<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatibile" content="IE=edge">
    <title>yours-name.com</title>
    <meta name="description" content="your's description">
    <meta name="keywords" content="your's keywords">
    <meta name="robots" content="follow, index">
    <meta name="author" content="your's name">
    <link rel="apple-touch-icon" sizes="180x180" href="#">
    <link rel="icon" type="image/png" sizes="32x32" href="#">
    <link rel="icon" type="image/png" sizes="16x16" href="#">
    <link rel="manifest" href="data/site.webmanifest">
    <link rel="mask-icon" href="#" color="#5bbad5">
    <meta property="og:url" content="www.yours-name.com">
    <meta property="og:title" content="yours-name.com">
    <meta property="media-image" content="#">
    <meta property="ogimage:width" content="200px">
    <meta property="og:description" content="your's description">
    <meta property="og:type" content="webpage">
  </head>

  <body>
    
  </body>

</html>
